JWT_SECRET=klehrevrgehgvreycrcegcy
FLW_SECRET=FLWSECK_TEST-9ef85ae20e2f0e91676199f1724ec855-X
FLW_SECRET_HASH=flwsecrethash
PAYSTACK_SECRET=sk_test_8b9d4a424520a4def613a7832eaff9c23df83183
DB_PASSWORD=wonderful.